<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>petition</title>
    </head>
    <body>
        <header><h1>Petition to clean up Karl-Marx-Strasse from dog poop</h1></header>
        <h3>This petition is an important one. Too long has Karl-Marx-Strasse
            <br />
            been plagued by dog poop. We need the city to clean the streets more
            often.
            <br />

            <br />
            We say no more! sign the petition!</h3>
        {{{body}}}
        <div class="links">links</div>
        <button><a href="./logout">Logout</a></button>

        <footer><p>© internet</p></footer>
    </body>
</html>