<form action="" method="GET">
    <div class="input">
        <label for="firstname">first name</label>
        <input type="text" placeholder="first name" id="firstname" required />
        <label for="lastname">last name</label>
        <input type="text" placeholder="last name" id="lastname" required />
    </div>
    <canvas id="canvas" width="300" height="150"></canvas>
    <input id="submit" type="submit" value="submit!" />

</form>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="script.js" charset="utf-8"></script>