<h1>add something about yourself</h1>
<form action="" method="POST">
    <label for="age">age</label>
    <input type="number" placeholder="age" name="age" />
    <label for="city">city</label>
    <input type="text" placeholder="city" name="city" />
    <label for="website">URL(https only!)</label>
    <h3>{{notvalid}}</h3>
    <input type="url" placeholder='https://www."yourwebsite".com' name="url" />
    <button type="submit">submit</button>
</form>