<h1>register here</h1>
<form action="" method="POST">
    <label for="firstname">first name</label>
    <input type="text" placeholder="first name" name="first" required />
    <label for="lastname">last name</label>
    <input type="text" placeholder="last name" name="last" required />
    <label for="email">email adress</label>
    <input type="email" name="email" required />
    <label for="password">password</label>
    <input type="password" minlength="8" name="password" required />

    <button type="submit">submit</button>
</form>