<h1>THANKS</h1>
{{!-- TODO: A link taking the user to a page listing all those who have signed already --}}
{{!-- You will need a value to render this correctly, you will need the current number of signers
Search POSTGRES COUNT --}}