<h1>Thank you for singing the petition!</h1>
<div class="square"><div class="signature"><img src="{{message}}" /></div></div>

<form action="" method="POST">
    <button class="deleteSig">delete signature</button>
</form>
<a href="/signers">Other signers</a>